<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - PetHouse</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>

  <nav class="navbar">
    <div class="navbar-content">
      <div class="navbar-left">
        <a href="{{ url_for('homepage') }}" class="navbar-brand">PetHouse</a>
      </div>
      <div class="navbar-right">
        <a href="{{ url_for('homepage') }}">Home</a>
      </div>
    </div>
  </nav>

  <div class="register-container">
    <div class="register-box">
      <h2>Register to PetHouse</h2>

      {%- with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <ul class="flashes">
            {% for category, message in messages %}
              <li class="flash {{ category }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {%- endwith %}

      <form id="register-form" method="POST" action="{{ url_for('register') }}">
        <label>Full Name</label>
        <input
          type="text"
          name="name"
          required
          placeholder="Your full name"
        />

        <label>Email Address</label>
        <input
          type="email"
          name="email"
          required
          placeholder="example@domain.com"
        />

        <label>Password</label>
        <input
          type="password"
          name="password"
          required
          placeholder="Enter password"
        />
        <label>Phone number</label>
        <input
          type="tel"
          name="phone"
          required
          placeholder="01922318828"
        />

        <label>Register as</label>
          <select name="role" id="roleSelect" onchange="toggleVetFields()">
            <option value="buyer">Buyer</option>
            <option value="seller">Seller</option>
            <option value="vet">Vet</option>
          </select>
          <div id="vetFields" style="display: none; margin-top: 10px;">
            <label>Location</label>
            <input type="text" name="location" placeholder="Your location" />
            <label>speciality</label>
            <input type="text" name="speciality" placeholder="Enter Your speciality" />
          </div>
        <button type="submit">Create Account</button>
      </form>
      <script>
        function toggleVetFields() {
          const role = document.getElementById("roleSelect").value;
          const vetFields = document.getElementById("vetFields");
          if (role === "vet") {
            vetFields.style.display = "block";
          } else {
            vetFields.style.display = "none";
          }
        }

        window.onload = toggleVetFields;
      </script>
      <p>
        Already have an account?
        <a href="{{ url_for('login') }}">Login here</a>
      </p>
    </div>
  </div>

</body>
</html>
